<div class="p-6 flow-root bg-white">
  <div class="mb-4">The convertion process has been queued...</div>
  <%= turbo_stream_from @page %>
  <ul id="pages" class="-mb-8" role="list"></ul>
  <div id="wait" class="my-16"><%= image_tag("stampede.gif", size: "70x9") %></div>
  <div id="process-footer" class="mt-12"></div>
</div>
